.sign-in {
  max-width: 18rem;
  margin: 3rem auto;

  .error {
    color: #d81d46;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 0.8rem;
  }

  section {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 2rem;

    label {
      margin-bottom: 0.2rem;
    }

    input {
      padding: 0.3rem;
      background-color: #F7F4F5;
      width: 100%;
      border: 1px solid #b68da3;
    }
  }
}
