.admin-wrapper {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;

  .search-wrapper {
    padding: 0.5rem;

    .admin-search {
      margin: 1.5rem 0;
    }

    .add-company {
      text-align: right;
      margin: 1.5rem 0;
    }
  }
}
