$base-color: #262254;
$base-color-lt: #efeeff;
$text-lt: #fff;
$danger: #ff9db2;

button {
  padding: 0.5rem;
  min-width: 7rem;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  &.base {
    background-color: #dddaff;

    &:hover,
    &:focus {
      background-color: $base-color;
      color: $text-lt;
    }
  }
  &.danger {
    background-color: $danger;

    &:hover,
    &:focus {
      background-color: #a51635;
      color: $text-lt;
    }
  }
  &.grey {
    background-color: rgb(235, 235, 235);
    &:hover,
    &:focus {
      background-color: #5c5c5c;
      color: $text-lt;
    }
  }
}

button + button {
  margin-left: 0.5rem;

  @media (min-width: 768px) {
    margin-top: 0.5rem;
    margin-left: 0;
  }
}
