.sort-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    padding-right: 0.3rem;
  }

  select {
    background-color: #F7F4F5;
    min-width: 10rem;
    width: 75%;
    height: 1.8rem;
    border: 1px solid #b68da3;
  }
}
