.search-bar {
  display: flex;
  align-items: center;

  .search-label {
    margin-right: 0.3rem;
  }

  .search-input {
    padding: 0.3rem;
    background-color: #F7F4F5;
    width: 100%;
    border: 1px solid #b68da3;
  }
}
