.search-bar {
  display: flex;

  .search-label {
    margin-right: 0.3rem;
  }

  .search-input {
    padding: 0.3rem;
    background-color: #efeeff;
    width: 100%;

    @media (min-width: 540px) {
      width: 15rem;
    }
  }
}
