$base-color: #262254;
$base-color-lt: #efeeff;
$text-lt: #fff;

.company-details-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: left;

  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
  }

  h4 {
    margin-right: 0.5rem;
  }

  .website,
  .epost,
  .contact-website {
    a {
      margin-left: 0.3rem;
    }
  }

  .courses {
    p {
      margin-left: 0.5rem;
    }
  }

  .link-to-homepage {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    color: $base-color;
    background-color: $base-color-lt;
    padding: 0.5rem;
    border-radius: 3px;

    &:hover {
      background-color: $base-color;
      color: $text-lt;
    }
  }
}

.loading {
  padding: 0.5rem;
}
